




.main{
    width: 70%;
    background-color: #fff;
    float: left;
    .imagen{
        img{
            width: 100%;
            vertical-align: top;
        }
    }
    .posts {
        padding: 40px;
        article{
            h2{
                margin-bottom: 20px;
                color: #424242;
            }
            p{
                margin-bottom: 15px;
                line-height: 27px;
            }
        }
    }
}




  
