body{background: #f3db1c;}

.form-img { /*Formulario de imagen*/
    flex:1;
    display: flex;
    min-width: 300px; 
    max-width: 100%;
} 

.img-container{
    margin: auto;  
}

ul{
	margin: 10px;
}

 

/*--------------------------------------------------------------------------------------------------------------------*/
/*clases para pagina con flex*/
.content{
    display: flex;
    flex-direction: column;
    height: 110vh;
}
.Header, .Main, .Aside, .Footer {                   
    padding: 20px;
}

.Header{
    flex-basis: 60px;    /*ver leccion 24 propiedad de los items*/
    background-color: #0a1518;
    
}

.Main{ 
    background: #f3db1c;
    flex-basis: 300px;   /*ver leccion 24 propiedad de los items*/
    flex-grow: 2;        /*ver leccion 24 propiedad de los items*/
    flex-shrink: 0;      /*ver leccion 24 propiedad de los items*/
}
.Aside{
    background-color: #0a1518;
    flex-basis: 200px;    /*ver leccion 24 propiedad de los items*/
    flex-grow: 1;         /*ver leccion 24 propiedad de los items*/
    flex-shrink: 0;       /*ver leccion 24 propiedad de los items*/
}
.Footer{
    background-color: #101c20;
    flex-grow: 1;               /*ver leccion 24 propiedad de los items*/
}
 
 
 
 
.nav__responsive-ul{display: none;} /*Para ocultar el menu responsive es OBLIGATORIO*/
 
 /*---------------------------------------------------------------------------------------------------------------*/

 
/*Para Flex*/
@media screen and (min-width: 700px) {   /*Como va a verse la pagina con menos de 700px*/
    .content{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .Header{
        flex-basis: 100%;

        padding-top: 120px; /*Bajamos el nav*/ 
        width: 100%;   /*Anchura muy grande para rellenar*/ 
            
        background-color: #101c20;
        position:fixed;  
        margin: -150px; /*con el margin subimos el nav*/ 
        margin-left: 0px;
        z-index: 10;
                
    }

    body{padding-top: 30px;} 
    .Main{
        flex-grow: 4;
    }
    .Aside{
        flex-grow: 1;
    }
    .Footer{
        flex-basis: 100%;  
    }
    .Main, .aside{
        height: 2000px;
    }
}








 @media only screen and (max-width:600px){
 
     .nav__responsive-ul{ display: block;}      /*Para que nos muestre el nav responsive ES OBLIGATORIO*/
     /*Lo que le queramos cambiar*/
     .form-img { min-width:200px;  max-width:100%;}/*Formulario de imagen */ 
     img{max-width: 200px; max-height: 200px;}
 }
 
 @media only screen and (max-width:300px){
     
     .nav__responsive-ul{ display: block;}      /*Para que nos muestre el nav responsive ES OBLIGATORIO*/
     /*Lo que le queramos cambiar*/
     .form-img { min-width: 100px;  max-width: 100%;}/*Formulario de imagen */ 
     img{max-width: 100px; max-height: 100px;}
 }
