*{
	color: rgb(19, 15, 15);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	
}

.background-container{
	background-image: url(../img/bg1.jpg);
	background-size: cover;
	background-color: no-repeat;
	background-position: center;
	background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
	width: 100%;
	height: 200vh;
}

main{
	width: 100%;
	padding: 0px;
	margin: auto;
	margin-top: 0px;
}



.contenedor__todo{	
	width: 100%;
	max-width: 800px;
	margin: auto;
	position: relative;
}

/*caja trasera-------------------------------------------------------------------------------*/
.caja__trasera{
	width: 100%;
	padding: 10px 20px; 	
	display: flex;   /*Es utilizado para hacer el efecto de movimiento*/
	justify-content: center;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 128, 255, 0.3);
}

.caja__trasera div{
	margin:100px 40px ;
	color: #fff;
	transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div buttom
{
   margin-top: 30px;
   margin-bottom: 30px;
}

.caja__trasera div h3{
	font-weight: 400;
	font-size: 26px;
}

.caja__trasera button{
	padding: 10px 40px;
	border: 2px solid #fff;
	background-color: transparent;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
	outline: none;
	transition: all 400ms;
}

.caja__trasera button:hover{
	background-color: #fff;
	color: #46A2FD;
}

/*Formulario-----------------------------------------------------------------------*/
.contenedor__login-register{
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 380px;
	position: relative;
	top: -185px;
	left: 10px;

	transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor__login-register form{
	width: 100%;
	padding: 80px 20px;
	background-color: #fff;
	position: absolute; /*Posision absoluta para poderlo mover*/
	border-radius: 20px; /*Borde para formulario*/
}

.contenedor__login-register form h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	color: #46A2FD;
}

.contenedor__login-register form input{
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border: none;
	background-color: #F2F2F2;
	font-size: 16px;
	outline: none;
}

.contenedor__login-register form button{
	padding: 10px 40px;
	margin-top: 40px;
	border: none;
	font-size: 14px;
	background-color: #46A2FD;
	color: #fff;
	cursor: pointer;
	outline: none;

}

.formulario__login{
	opacity: 1;
	display: block;
}

.formulario__register{
	display: none;
}


/*Es el fondo transparente---------------------------*/
.card-container{  
    width: 45rem;
    height: 50rem;
    border: 3px solid #fafafa10;
    margin: 0 auto;
    border-radius: 1rem;
}

.glass-effect{
    background-color: #f78f8f10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}
/*----------------------------------------------*/

/*Responsive*/


@media screen and (max-width: 850px){
	
	main{
		margin-top: 50px;
	}

	.caja__trasera{
		max-width: 350px;
		height: 300px;
		flex-direction: column;
		margin: auto;
	}

	.caja__trasera div{
		margin: 0px;
		position: absolute;
	}

	/*Formulario*/

	.contenedor__login-register{
		top: -10px;
		left: -5px;
		margin: auto;
	}

	.contenedor__login-register form{
		position: relative;
	}
	
}