

// Definición de fuentes
$body-font: "Times New Roman";
$heading-font: "Times New Roman";

// Tamaños de fuente
$body-font-size: 16px;
$heading1-font-size: 36px;
$heading2-font-size: 24px;


// Estilos de texto
body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: 1.6;
  color: #000;
  
}
 
h1 {
  font-family: $heading-font;
  font-size: $heading1-font-size;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
  text-align: center;
}

h2 {
  font-family: $heading-font;
  font-size: $heading2-font-size;
  font-weight: normal;
  line-height: 1.4;
  color: #000;
}

// Enlaces
a {
  text-decoration: none;
  color: #007bff;

  &:hover {
    text-decoration: none;
  }
}

// Media queries para responsive typography
@media (max-width: 768px) {
  body {
    font-size: $body-font-size - 2px;
  }

  h1 {
    font-size: $heading1-font-size - 4px;
  }

  h2 {
    font-size: $heading2-font-size - 2px;
  }
}
