*{
	color: white;
	background-color: #6582ba;
	margin: 40px 40px 40px 40px;
}

img{
	height: 350px;
	width: 600px;
}

.contenedor-img{
	padding-right: 100px;
	padding-left: 200px;
}

ul{
	margin: 10px 10px 10px 10px;
}

