
body{
    background-color: #dbae18;
}

.articulo{
    background-color: #f2f2f2;
    padding: 20px;
    .titulo{
        background-color: #000;
    }
    .autor{
        color: #ff0000;
    }
    p{
        a{
            text-decoration: none;
        }
    }
}