$Rojo:#ff0000;
$Blanco: #d4d4d4; 
$Verde:#12911c;
$Negro: #10110e;
$Azul:#1a40e6;



.nav{
    ul{
        li{
            a{
                text-decoration: none;
            }
        }
    }
}    


.article{
    color: $Rojo;
    background-color: $Negro;
    padding: 20px;
    width: 400px;
    

    .titulo{
        color: $Rojo;
    }

    p{
       color:  $Azul;
    }
    a{
        color: $Blanco;
        text-decoration: none;
    }
    .author{
        color: $Rojo;
    }
}
body{
    background-color: $Verde;
}